#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define _DEFAULT 0
#define _NAVI 1
#define _SYMBOL 2
#define _MEDIA 3

#define TAPPING_TERM 150
#define QUICK_TAP 200

/* Key index
 0  1  2  3  4         5  6  7  8  9
10 11 12 13 14        15 16 17 18 19
20 21 22 23 24        25 26 27 28 29
        30 31 32    33 34 35         */

/ {
    combos {
        compatible = "zmk,combos";
        combo_grave_acc {
            timeout-ms = <50>;
            key-positions = <1 2 3>;
            bindings = <&kp LA(GRAVE)>;
        };
        combo_acute_acc {
            timeout-ms = <50>;
            key-positions = <6 7 8>;
            bindings = <&kp LA(E)>;
        };
    };
};

&lt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP>;
};

&mt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp Q        &kp W       &kp E       &kp R        &kp T      &kp Y  &kp U        &kp I       &kp O       &kp P
   &hm LCTRL A  &hm LALT S  &hm LGUI D  &hm LSHFT F  &kp G      &kp H  &hm RSHFT J  &hm RGUI K  &hm RALT L  &hm RCTRL SEMI
   &kp Z        &kp X       &kp C       &kp V        &kp B      &kp N  &kp M        &kp COMMA   &kp DOT     &kp FSLH
                &kp ESC  &lt _SYMBOL BSPC  &lt _MEDIA TAB      &mt LSHFT RET  &lt _NAVI SPC  &kp DEL
                        >;
                };

                navi_layer {
                        label = "NAVI";
                        bindings = <
   &kp N1     &kp N2    &kp N3    &kp N4     &kp N5      &kp N6  &kp N7    &kp N8     &kp N9     &kp N0
   &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none       &none   &kp LEFT  &kp UP     &kp DOWN   &kp RIGHT
   &none      &none     &none     &none      &none       &none   &none     &kp PG_UP  &kp PG_DN  &none
                &trans  &trans  &trans      &trans  &trans  &trans
                        >;
                };

                symbol_layer {
                        label = "SYMBOL";
                        bindings = <
   &kp EXCL         &kp AT         &kp HASH       &kp DLLR        &kp PRCNT            &kp CARET  &kp AMPS       &kp STAR       &kp LPAR       &kp RPAR
   &hm LCTRL GRAVE  &hm LALT PIPE  &hm LGUI LBRC  &hm LSHFT RBRC  &kp LA(LS(N2))       &kp DQT    &hm RSHFT SQT  &hm RGUI LBKT  &hm RALT RBKT  &hm RCTRL COLON 
   &kp TILDE         &kp BSLH      &kp MINUS      &kp UNDER       &none                &kp PLUS   &kp EQUAL      &kp LT         &kp GT         &kp QMARK
              &trans  &trans  &trans      &trans  &trans  &trans
                        >;
                };

                media_layer {
                        label = "MEDIA";
                        bindings = <
   &none      &kp C_PREV         &kp C_PP         &kp C_NEXT          &none      &kp F12  &kp F7  &kp F8  &kp F9  &none
   &hm LCTRL  &hm LALT C_VOL_DN  &hm LGUI K_MUTE  &hm LSHFT C_VOL_UP  &none      &kp F11  &kp F4  &kp F5  &kp F6  &none
   &none      &none              &kp C_BRI_DEC    &kp C_BRI_INC       &none      &kp F10  &kp F1  &kp F2  &kp F3  &none
              &trans  &trans  &trans      &trans  &trans  &trans
                        >;
                };

        };
};